<!DOCTYPE html>
<html>
    {% extends "application/home.html" %}
    {% block content %}
    <div class="modal fade" id="Test">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
          </div>  
          <div class="modal-footer">
            <button type="button" class="btn btn-primary ok" data-dismiss="modal">Ok</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}
</html>